@model List<Search>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
  ViewData["Title"] = "Searches";
}

<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">Searches</li>
  </ol>
</nav>

@if ((await AuthorizationService.AuthorizeAsync(User, new Search(), "CanWriteSearch")).Succeeded)
{
  <p class="text-right"><a asp-action="Add" class="btn btn-primary">New Search</a></p>
}

@if (Model.Count == 0)
{
  <p>You are not involved in any active search.</p>
}
else
{
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var search in Model)
      {
        <tr>
          <td><a asp-action="View" asp-route-id="@search.Id">@search.Name</a></td>
          <td>@search.StartDate.ToString("d")</td>
        </tr>
      }
    </tbody>
  </table>
}